<div ng-controller="taskLists">
 
  <div class="container">
<div class="panel panel-primary">
      <div class="panel-heading">Task List {{date}}</div>
		<input type="checkbox" ng-model="displayStatus" ng-click="newTask();">Create New Task {{displayStatus}}
		<table class="table table-bordered table-hover">
			<tr>
				<th>S.no`</th>
				<th>Task Name</th>
				<th>Days Remaining</th>
				<th>Start and End Date</th>
				<th>Task Status</th>
			</tr>
			<tr ng-repeat="tasklist in myData | orderBy:'dateDiffInt'" ng-class="taskStatus({{tasklist.dateDiffInt}})">
				<td>{{$index+1}}</td>
				<td>{{tasklist.taskName}}</td>
				<td>{{tasklist.dateDiff}}</td>
				<td>{{tasklist.StartDate | date:'dd-MMM-yy' }} to  {{tasklist.endDate | date:'yyyy-MM-dd'}}</td>
				<td class="text-center"><i ng-class="statusIcon({{tasklist.dateDiffInt}})"></i></td>
			</tr>
			<tr class={{createTask}}>
				<td>*</td>
				<td><input type="text" ng-model="taskName"/></td>
				<td>Days Remaining</td>
				<td>Start and End Date</td>
				<td>Task Status</td>
			</tr>
		</table>
	</div>
</div>
</div>
